*.keras
*.h5
*.zip
genuine/
genuine_cropped/
genuine_augmented/
tampered/
tampered_augmented/
raw_genuine/
failed_crops/
__pycache__/
*.pyc
.vscode/
temp_ela.jpg
temp_crop.jpg
data.yaml
README.dataset.txt
README.roboflow.txt